@keyframes home-slide-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes button-fade-in {
  0% {
    opacity: 0;
  }
  75% {
    transform: translateY(-25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.home-heading {
  animation: home-slide-in ease 1.25s;
}

.home-button {
  animation: button-fade-in ease-in-out 1.5s;
}
