/* .projectPage {
  width: 100%;
  height: 100%;
} */

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    transform: translateX(50px);
    opacity: 0;
  }
}

.slide-in {
  animation: slide-in ease-in-out 0.75s;
}

.slide-out {
  animation: slide-out ease-in-out 0.75s;
  height: 0px !important;
  width: 0px !important;
  visibility: hidden;
  padding: 0px !important;
  margin: 0px !important;

  transition: height ease 0.5s 0.75s, width ease 0s 0.75s,
    visibility ease 0s 0.75s, padding ease 0.5s 0.75s, margin ease 0.5s 0.75s;
}

@keyframes fade-in-text {
  0% {
    opacity: 0;
    height: 0px !important;
    width: 0px !important;
  }
  80% {
    opacity: 0;
    height: 0px !important;
    width: 0px !important;
  }
  100% {
    opacity: 0.8;
  }
}

.fade-in-text {
  animation: fade-in-text ease-in-out 1.5s;
  opacity: 0.8;
}
